/*
 * ##########
 * ###############
 * ROOT
 * ###############
 * ##########
*/

:root{
    --color1: #f0f8ff;
    --color2: #fff;
    --color3: #f2f3f4;
    --color4: #2f4f4f;
    --color5: rgba(0,0,0);
    --color6: rgb(255,0,0);
    --color7: rgb(0,255,0);
    --hue: 223px;
    --bg: hsl(var(--hue),90%,95%);
    --fg: hsl(var(--hue),90%,5%);
    --trans-dur: 0.3s;
    font-size: calc(16px + (24px - 16px) * (690px - 320px) / (1280px - 320px));
}

/*
 * ##########
 * ###############
 * Signup
 * ###############
 * ##########
*/

body {
    width: 100%;
    height: 100vh;
    display: flex;
    background: var(--color4);
    color: var(--color1);
    overflow: hidden;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*
 * ##########
 * ###############
 * Signup
 * ###############
 * ##########
*/

.first-form,
.second-form,
.third-form {
    min-width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    min-width: 500px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: var(--color5);
    box-shadow: 16px 16px 32px var(--color5),
            -16px -16px 32px var(--color4);
    border-radius: 8px;
}

.singup {
    color: var(--color1);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-top: 1.5em;
}

.inputBox,
.inputBox1 {
    position: relative;
    width: 250px;
}

.inputBox input,
.inputBox1 input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: var(--color1);
    font-size: 1em;
    background: transparent;
    border-left: 2px solid var(--color1);
    border-bottom: 2px solid var(--color1);
    transition: 0.1s;
    border-bottom-left-radius: 8px;
}

.inputBox span,
.inputBox1 span {
    margin-top: 0px;
    position: absolute;
    left: 0;
    transform: translateY(-20px);
    margin-left: 10px;
    padding: 0px;
    pointer-events: none;
    font-size: 12px;
    color: var(--color1);
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
}

.phone span {
    width: 250px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    transform: translateX(120px) translateY(-55px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: var(--color1);
    letter-spacing: 0.2em;
    color: var(--color5);
    border: 2px;
}

.confirm input:valid~span,
.confirm input:focus~span {
    transform: translateX(64px) translateY(-55px);
}

.phone input:valid~span,
.phone input:focus~span {
    transform: translateX(10px) translateY(-55px);
}

.inputBox1 input:valid~span,
.inputBox1 input:focus~span {
    transform: translateX(113px) translateY(-55px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: var(--color1);
    letter-spacing: 0.2em;
    color: var(--color4);
    border: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox1 input:valid,
.inputBox1 input:focus {
    border: 2px solid var(--color3);
    border-radius: 3px;
}

.buttons {
    display: flex;
    gap: 3.8rem;
}

.enter,
.back,
.colapse {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid var(--color1);
    color: var(--color1);
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 3em;
}

.enter:hover,
.back:hover,
.colapse:hover {
    background-color: var(--color1);
    color: var(--color4);
}

.inputBox .eye-icon {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 1.5rem;
    color: var(--color1);
    z-index: 5;
}

.third-form .card .inputBox label {
    position: relative;
}

.third-form .card .inputBox label input{
    position: absolute;
    top: 0;
}

.feedrong {
    color: var(--color6);
}

.first-form .password {
  display: none;
}

.second-form .honey {
  display: none;
}

/*
 * ##########
 * ###############
 * Acceptance
 * ###############
 * ##########
*/

.acceptance {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0,0,0, 0.5);
}

.corrong {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color5);
    border-radius: 8px;
}

.corrong .loader {
    background-color: var(--bg);
    color: var(--fg);
    font: 16px/1.5 sans-serif;
    height: 100px;
    display: none;
    place-items: center;
    transition: background-color var(--trans-dur);
}

main {
    padding: 24px 0;
  }
  
  .ip {
    width: 100px;
    height: 50px;
  }
  
  .ip__track {
    stroke: hsl(var(--hue),90%,90%);
    transition: stroke var(--trans-dur);
  }
  
  .ip__worm1,
  .ip__worm2 {
    animation: worm1 2s linear infinite;
  }
  
  .ip__worm2 {
    animation-name: worm2;
  }
  
  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: hsl(var(--hue),90%,5%);
      --fg: hsl(var(--hue),90%,95%);
    }
  
    .ip__track {
      stroke: hsl(var(--hue),90%,15%);
    }
  }
  
  /* Animation */
  @keyframes worm1 {
    from {
      stroke-dashoffset: 0;
    }
  
    50% {
      animation-timing-function: steps(1);
      stroke-dashoffset: -358;
    }
  
    50.01% {
      animation-timing-function: linear;
      stroke-dashoffset: 358;
    }
  
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes worm2 {
    from {
      stroke-dashoffset: 358;
    }
  
    50% {
      stroke-dashoffset: 0;
    }
  
    to {
      stroke-dashoffset: -358;
    }
  }
  
/*
 * ##########
 * ###############
 * Content
 * ###############
 * ##########
*/
.acceptance .cont {
  display: none;
}

.acceptance .cont .good {
    font-size: 3rem;
    color: var(--color7);
}

.acceptance .cont .success {
    position: relative;
    top: -16px;
}