{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'loguser/styles.css' %}">
    
    <!--Fonts-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <form class="first-form">
        <div class="card">
            <a class="singup">Sign Up</a>
            {% csrf_token %}
            <div class="inputBox1">
                <input type="text" name="customername" required="required">
                <span class="user">Name</span>
            </div>
            <div class="inputBox">
                <input type="email" name="email" required="required">
                <span>Email</span>
            </div>
            <div class="inputBox">
                <input type="tel" name="phone" required="required">
                <span>PhoneNumber</span>
            </div>
            <div class="inputBox password">
                <input type="password" name="passwrd" class="pass_in">
                <ion-icon name="eye-outline" class="eye-icon"></ion-icon>
                <span>Password</span>
            </div>
            <div class="inputBox password confirm">
                <input type="password" name="confirm" class="pass_in">
                <ion-icon name="eye-outline" class="eye-icon"></ion-icon>
                <span>Confirm Password</span>
            </div>

            <button class="enter">Enter</button>
        </div>
    </form>

    <form class="third-form">
        <div class="card">
            <a class="singup">Sign Up</a>
            <div class="inputBox">
                <h2>
                    Gender
                </h2>
                <label>
                    <p>Female</p>
                    <input type="radio" name="gender" value="FEMALE" required="required">
                </label>
                <label>
                    <p>Male</p>
                    <input type="radio" name="gender" value="MALE" required="required">
                </label>
            </div>
            <div class="inputBox">
                <input type="number" name="byear" id="byear" min="1950" max="2024" required>
                <span>Birth Year</span>
            </div>
            <div class="inputBox">
                <input type="number" name="bmonth" id="bmonth" min="1" max="12" required>
                <span>Birth Month</span>
            </div>
            <div class="inputBox">
                <input type="number" name="bday" id="bday" min="1" required>
                <span>Birth Day</span>
            </div>
            
            <input class="honey" type="text" name="honey">
            <div class="buttons">
                <button class="back">Back</button>
                <button class="enter save">Enter</button>
            </div>
        </div>
    </form>
    <div class="acceptance">
        <div class="corrong">
            <div class="loader">
                <main>
                    <svg xmlns="http://www.w3.org/2000/svg" height="128px" width="256px" viewBox="0 0 256 128" class="ip">
                        <defs>
                            <linearGradient y2="0" x2="1" y1="0" x1="0" id="grad1">
                                <stop stop-color="#5ebd3e" offset="0%"></stop>
                                <stop stop-color="#ffb900" offset="33%"></stop>
                                <stop stop-color="#f78200" offset="67%"></stop>
                                <stop stop-color="#e23838" offset="100%"></stop>
                            </linearGradient>
                            <linearGradient y2="0" x2="0" y1="0" x1="1" id="grad2">
                                <stop stop-color="#e23838" offset="0%"></stop>
                                <stop stop-color="#973999" offset="33%"></stop>
                                <stop stop-color="#009cdf" offset="67%"></stop>
                                <stop stop-color="#5ebd3e" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <g stroke-width="16" stroke-linecap="round" fill="none">
                            <g stroke="#ddd" class="ip__track">
                                <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"></path>
                                <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"></path>
                            </g>
                            <g stroke-dasharray="180 656">
                                <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56" stroke-dashoffset="0" stroke="url(#grad1)" class="ip__worm1"></path>
                                <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64" stroke-dashoffset="358" stroke="url(#grad2)" class="ip__worm2"></path>
                            </g>
                        </g>
                    </svg>
                </main>
            </div>

            <div class="cont">
                <ion-icon class="good" name="checkmark-circle"></ion-icon><span class="success"> Success.</span>
                <p>Hello, <span></span>, 🎉</p>
                <p>Welcome to Lintons Beauty loyalty program! You have been awarded 100 points 🎁!</p>
            </div>
            <button class="colapse">Ok</button>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'loguser/main.js' %}"></script>
</body>
</html>