{% extends 'loguser/base.html' %}
{% block content %}
{% load static %}
<div class="login-box log">
    <p>Login</p>
    <form method="post">
        {% csrf_token %}
      <div class="user-box">
        <input required="" name="username" type="text">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input id="password" required="" name="password" type="password">
        <label>Password</label>
        <img class="img" id="eyeicon" src="{% static 'loguser/eyeclose.svg' %}" alt="">
      </div>
      <button type="submit">
        Submit
      </button>
    </form>
</div>
<script>
    let eyeicon = document.querySelector("#eyeicon");
    let password = document.querySelector("#password");

    eyeicon.addEventListener("click", function(){
        if (password.type == "password") {
            password.type = "text";
            eyeicon.src = "{% static 'loguser/eye.svg' %}";
        }
        else {
            password.type = "password";
            eyeicon.src = "{% static 'loguser/eyeclose.svg' %}"
        }
    })
</script>
{% endblock %}